.navigation {
    background: #091336;
    color: #fff;
    width: 240px;
    height: 100%;
    bottom: 10px;
    &__logo {
        padding: 20px 0 0 12px;
        margin-bottom: 32px;
        cursor: pointer;
    }
    ul {
        margin-bottom: 64px;
        .active {
            opacity: 1;
            border-left: 3px solid #002cfb;
            position: relative;
            background: rgba(216, 228, 251, 0.32);
            &::after {
                content: '';
                width: 8px;
                height: 8px;
                background: #ffd500;
                box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
                border-radius: 50%;
                position: absolute;
                right: 12px;
            }
        }
        li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 0 17px 12px;
            opacity: 0.6;
            cursor: pointer;
            img {
                margin-right: 12px;
            }
        }
    }
    &__btnWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 20px;
        button {
            padding: 13px 0 15px;
            background: #005ff8;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .15s ease-in-out;
            p {
                margin-right: 17px;
                color: #fff;
                font-family: 'SF-Medium';
                font-size: 16px;
            }
            &:hover {
                background: #0024CB;
            }
            &:active {
                background: #274BC8;
            }
        }
    }
}
