.dashboard {
    padding: 20px 120px 0;
    @media screen and (max-width: 1830px) {
        padding: 20px 80px 0;
    }
    @media screen and (max-width: 1535px) {
        padding: 20px 40px 0px;
    }
    .active {
        color: #002cfb;
    }
    .balanceAndDate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 32px;
        .balance {
            display: inline-flex;
            align-items: center;
            padding: 8px 12px;
            border-radius: 48px;
            background-color: #fff;
            font-size: 14px;
            margin-right: 48px;
            cursor: pointer;
            &:hover {
                span {
                    color: #0024cb;
                }
                svg {
                    path {
                        fill: #0024cb;
                    }
                }
            }
            p {
                margin-right: 10px;
                color: #899cb1;

                span {
                    color: #000;
                    font-family: 'SF-Medium';
                }
            }
            svg {
                &:active {
                    path {
                        fill: #274bc8;
                    }
                }
            }
        }
    }
    .filtersAndSearch {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 7px;
        position: relative;
        padding: 10px 0;
        .borderInput {
            border: 1px solid #adbfdf;
        }
        .search {
            position: relative;
            width: 482px;
            display: flex;
            align-items: center;
            padding: 10px 36px 10px 18px;
            border-radius: 48px;
            &:focus-within {
                border: 1px solid #005ff8;
                background: #fff;
                border-radius: 48px;
            }
            &:hover {
                .searchIcon {
                    path {
                        fill: #002cfb;
                    }
                }
            }
            .searchIcon {
                position: absolute;
            }

            input {
                width: 100%;
                background: transparent;
                font-size: 14px;
                margin-left: 28px;
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
                &::placeholder {
                    color: #5e7793;
                }
                &:hover {
                    .searchIcon {
                        path {
                            fill: #002cfb;
                        }
                    }
                }
            }
            .btn {
                position: absolute;
                right: 17px;
                cursor: pointer;
                &:hover {
                    path {
                        fill: #002cfb;
                    }
                }
            }
        }
        .filtersWrapper {
            color: #5e7793;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 32px;
            .otherFilters {
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                p {
                    margin-right: 8px;
                }
            }
        }
    }
    .callsWrapper {
        padding: 24px 0 57px;
        background: #fff;
        box-shadow: 0px 4px 5px #e9edf3;
        border-radius: 8px;
        .columnInfo {
            display: grid;
            grid-template-columns: 55px 90px 130px 326px 215px 1fr 90px;
            align-items: center;
            padding: 0 40px 20px;
            border-bottom: 1px solid #eaf0fa;
            color: #899cb1;
            font-size: 14px;
            p {
                display: block;
            }
            @media screen and (max-width: 1830px) {
                grid-template-columns: 55px 90px 130px 155px 155px 1fr 90px;
            }
            @media screen and (max-width: 1535px) {
                grid-template-columns: 55px 90px 100px 130px 130px 1fr 90px;
            }
        }
    }
}

.loader {
    width: 100px;
    height: 100px;
    background-color: #002cfb;
    margin: 100px auto;
    animation-name: rotateLoader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
